[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "*"
jupysql = "*"
jupyter-ai = "*"
jupyterlab = "*"
jupyterlab-git = "*"
matplotlib = "*"
numpy = "*"
openai = "*"
pandas = "*"

[dev-packages]

[requires]
