autograd==1.6.2
ipycanvas==0.13.2
ipywidgets==8.1.2
jupyterlab==4.1.8
jupyterlab-filesystem-access==0.6.0
jupyterlab-night==0.4.6
jupyterlite-core==0.3.0
jupyterlite-pyodide-kernel==0.3.1
matplotlib==3.8.4
neuralprophet==0.8.0
pandas==2.2.2
plotly==5.21.0
python-dotenv==1.0.1
pytorch-lightning==1.9.5
ruff==0.4.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
statsmodels==0.14.2
sympy==1.12
tensorboard==2.16.2
torch==2.3.0
transformers==4.40.1
yellowbrick==1.5
