datasets==2.19.0
folium==0.16.0
gradio==4.31.5
graphviz==0.20.3
ipycanvas==0.13.2
ipywidgets==8.1.2
jupyter_contrib_nbextensions==0.7.0
jupyterlab==4.1.8
jupyterlab-filesystem-access==0.6.0
jupyterlab-night==0.4.6
jupyterlite-core==0.3.0
jupyterlite-pyodide-kernel==0.3.1
keras==3.3.3
keras-tuner==1.4.7
matplotlib==3.8.4
missingno==0.5.2
pandas==2.2.2
pillow==10.3.0
plotly==5.21.0
pmdarima==2.0.4
python-dotenv==1.0.1
pytorch-lightning==2.2.4
ruff==0.4.2
scikit-learn==1.4.2
seaborn==0.13.2
sktime==0.28.1
statsmodels==0.14.2
sympy==1.12
tabulate==0.9.0
tensorflow==2.16.1
tensorflow-datasets==4.9.4
torch==2.3.0
torchinfo==1.8.0
transformers==4.40.1
voila==0.5.7
wandb==0.17.0
yellowbrick==1.5
